/* 
    Document   : portada
    Created on : 17-ago-2013, 20:24:31
    Author     : Miguel
    Description:
        Purpose of the stylesheet follows.
*/

html{
    height:100%;
    width:100%;
}

body { 
    background:none repeat scroll 0 0 #2E9AFE;
}

#principal{    
    margin-top: 10%;
    margin-left: 30%;
}

#caja_nombre, #caja_clave{
    /*background: none repeat scroll 0 0 white;*/
    height: 5%;
    margin-left: 15%;
    width: 20%;
}

#nombre, #clave{
    height: 5%;
    margin-left: 15%;
    width: 45%;
}